<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OXR | Custom Clearance</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/icon/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0 py-5" style="background-image: url(/img/img_mainVisual_11.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Custom Clearance</h1>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8 ">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Customs Clearance Services</h5>
                        <p class="card-text">Experienced staff of OXR customs clearance team will support the
                            used car export business of our customers.

                            We are also ready to handle import business and items other than used cars. Please feel free
                            to contact the customs clearance team at our Kawasaki Office for details.
                        </p>

                    </div>
                </div>






                <div class="card border-top border-primary">
                    <div class="card-header">
                        Specialist of export/import activities and logistics
                    </div>
                    <div class="card-body">
                        <p>Our experts in import and export business will quickly complete processes, such as customs
                            clearance, tax payment procedure and various inspections on behalf of you. We deal with not
                            only
                            marine transport but also domestic land transport and air transportation, as well as general
                            logistic activities such as receipt of goods for import or export, packing, cargo handling
                            and
                            lading.</p>
                        <h5 class="card-title">Common examples of our services</h5>
                        <p class="card-text">They include: import and export agency, import of shipped back cargo,
                            re-export
                            and re-import, carnet customs clearance for cars, application for bonded transportation,
                            warehouse cargo handling (container vanning, labeling, assortment, etc.), storage/packing,
                            and
                            marine insurance arrangements.</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Feel free to ask for handling of cargo other than used cars
                    </div>
                    <div class="card-body">
                        <p>Sun Phoenix has a high reputation in its skills for vanning cars into containers, and many of
                            those cars are used ones. However, its know-how, techniques and facilities are not limited
                            to used cars. Please feel free to ask for our services when you need to export other types
                            of cargo.</p>
                        <h5 class="card-title">Common types of cargo we handle</h5>
                        <p class="card-text">General vehicles, construction machinery and motorcycles</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        We handle orders not only from companies but also individuals
                    </div>
                    <div class="card-body">
                        <p>We also accept orders from individuals or proprietors who wish to participate in the used car
                            export business. We offer a package service that includes the costs for internal transport,
                            marine transport, customs clearance and other related activities. Feel free to contact us
                            for details.</p>


                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                {{>contact_card}}
                {{>quickqoute}}


            </div>
        </div>

    </div>








    {{>footer}}