<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OXR | Sell</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="theme-color" content="#94C947">

    <!-- Favicon -->
    <link href="/img/icon/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Car Recycling</h1>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto" style="">

                <p>Our dedication and commitment to Auto Recycling as a whole, is a strongly reflected in the
                    unparalleled service Omaid’s Auto Recycling provides to all our customers and trading partners</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/icon/water-pump.png" alt="women icon" />
                            </div>
                            <h4 class="mb-0">Machine and Body Parts
                            </h4>
                        </div>
                        <p class="mb-4">
                            Our online system provides an easy way to request a part, we will replay or contact you with
                            in a day wether your part is availebal or Not please click on the button bellow to request a
                            part.
                        </p>
                        <a class="btn btn-secondary" href="/recycling/parts">Part Request</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/icon/recycle.png" alt="" />
                            </div>
                            <h4 class="mb-0">Vehicle Recycling</h4>
                        </div>
                        <p class="mb-4">
                            OXR is an environmentally conscious company, our process for recycling
                            end-of-life vehicles (ELVs) includes auto parts reuse, fluid depollution and materials
                            recycling utilizing techniques with the highest regard for safety and the environment
                        </p>
                        <a class="btn btn-secondary" href="/recycling/whytorecycle">Read More</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/icon/car-insurance.png" alt="" />
                            </div>
                            <h4 class="mb-0">Rebuilders</h4>
                        </div>
                        <p class="mb-4">
                            OXR provides an extensive inventory of rebuildable vehicles as well as used cars.
                            Our online vehicle inventory is updated daily to provide our customers with the most up to
                            date inventory available. All Rebuildable vehicles are sold as is, unfit and no warranty.
                            All Used Vehicles are sold with
                            121-day warranty.
                        </p>
                        <a class="btn btn-secondary" href="/usedcars">Used Cars</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->

    {{>about_home}}

    {{>pickuprequest}}




    {{>footer}}