<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OXR | Why to Recycle</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="theme-color" content="#94C947">
    <!-- Favicon -->
    <link href="/img/icon/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Why to recycle</h1>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-6 mb-5">The Ultimate Environmental Choice</h1>
                    <p class="mb-4">
                        It may not seem like a monumental choice to re-use good quality parts from another vehicle, but
                        the resulting savings in energy, raw materials and pollution is astronomical.

                        By using Green Recycled Parts, you’ll be helping to sustain a modern global recycling industry
                        that reclaims over 12 million vehicles across North America annually.

                        Auto recycling is the ultimate environmental choice. No other product on earth is recycled more
                        than an automobile. Not only does it keep a flood of dangerous toxins from being released into
                        our ground and water, it prevents unnecessary use of valuable landfill. And by reducing the need
                        for new parts to be manufactured, you’ll be preserving scarce natural resources and cutting down
                        on the resulting pollution.
                    </p>
                    <h2 class="mb-4">Fast Environmental Facts</h2>
                    <div class="row g-3">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded h-100 p-3">
                                <div
                                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3">
                                    <img class="align-self-center mb-3" src="/img/icon/service.png"
                                        style="width: 60px; hight: 60px;" alt="" />
                                    <p>Over 80% of the entire vehicle by weight is reused, re-manufactured or recycled
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="bg-light rounded h-100 p-3">
                                <div
                                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3">
                                    <img class="align-self-center mb-3" src="/img/icon/oil-drum.png"
                                        style="width: 60px; hight: 60px;" alt="" />
                                    <p>Recycled parts save an estimated 80 million barrels of oil annually that would be
                                        required to produce new replacement parts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded h-100 p-3">
                                <div
                                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3">
                                    <img class="align-self-center mb-3" src="/img/icon/beam.png"
                                        style="width: 60px; hight: 60px;" alt="" />

                                    <p>
                                        Auto recycling provides about 40% of the ferrous metal for the scrap processing
                                        industry across North America
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="bg-light rounded h-100 p-3">
                                <div
                                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3">
                                    <img class="align-self-center mb-3" src="/img/icon/pollution.png"
                                        style="width: 60px; hight: 60px;" alt="" />
                                    <p>Substituting low-sulphur scrap metal for high-sulphur raw ore can reduce a steel
                                        mill's air pollution by as much as 86% and water pollution by 76%.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative rounded overflow-hidden h-100" style="min-height: 400px">
                        <img class="position-absolute w-100 h-100" src="/img/green.jpg" alt="School girl"
                            style="object-fit: cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- constent start  -->
    <div class="container border-bottom pb-4">
        <h2>The Green Recycled Parts Process</h2>
        <p>The modern auto recycling process is a model of environmental responsibility. Each vehicle goes through a
            methodical process designed to maximize the amount of material that can be reclaimed and to minimize the
            environmental impact.</p>

        <p>
            Oil, gas and operating fluids pose a significant risk to the environment. Trained technicians carefully
            drain all the fluids and store them for reuse or recycling. Special equipment and methods are used in order
            to prevent any groundwater contamination. An average of 40 litres of fluids are removed from each vehicle
            and are used, re-used or responsibly disposed of
        </p>
        <p>
            The unusable portion of the vehicle is then crushed and sent to be shredded into fist-sized pieces for
            recovery. The valuable ferrous and non-ferrous metals are then separated and reused to make new cars and
            other products you buy… and the cycle starts again.
        </p>
        <p>
            Each vehicle is inspected to determine which parts are appropriate for re-use. The VIN number and mileage of
            vehicle, along with the make, model and year are recorded in order to provide accurate inventory data.</br>

            Gas tanks, batteries and tires are all removed and are recycled, reused or disposed of appropriately.</br>

            The vehicle is then sent to the dismantling area where parts are removed, inspected and readied for
            resale.</br>
            Each part is tagged, coded and entered into a computerized inventory system before it is properly
            stored.</br>
        </p>
        <img src="/img/PNG-Image-618-×-302-pixels.png" class="rounded float-end" alt="Car recycleing parts">
        <h3>Anti-freeze & Washer Fluid</h3>
        <p>Fluids are separated and resold onsite or sent to reputable recycling facilities to be re-processed and
            re-used</p>

        <h3>Batteries</h3>
        <p>After testing, batteries that are in good condition are sold to customers for re-use. Others are sent to a
            licensed recycling facility to be rebuilt.</p>

        <h3>Freon and Other Refrigerants</h3>
        <p>The gases from air-conditioning systems are carefully removed by licensed technicians to ensure none of them
            escape into the atmosphere. The used refrigerant is sold to a licensed buyer to be re-used.</p>

        <h3>Doors & Body Panels</h3>
        <p>Doors and body panels that are in suitable condition are sold to body shops to repair damaged vehicles.
            Unusable parts are reclaimed as scrap and the metal is recycled.</p>

        <h3>Wheels</h3>
        <p>Wheels are sold for re-use. In some cases they are reconditioned. Damaged wheels are reclaimed as scrap
            metal.</p>

        <h3>Tires</h3>
        <p>Quality tires with lots of tread life are sold for re-use. Other are sent to tire recyclers and processed as
            tire crumb to make new products or to pave our highways.</p>

        <h3>Fuel</h3>
        <p>Using special equipment, gas tanks are punctured, drained and removed. The fuels are used by the auto
            recyclers in their own equipment or sold for re-use..</p>

        <h3>Mercury Switches</h3>
        <p>For a period of time, manufacturers used mercury switches to control convenience lights and ABS systems.
            Although they are no longer being installed in new vehicles, there are hundreds of thousands of them still
            in vehicles on the road today. Switch Out is a national program designed to remove these switches from
            end-of-life vehicles and prevent the highly toxic heavy metal from being released into the environment.

            As the Ontario partner, OARA members have recovered thousands of them before they could do harm to our
            environment.</p>


    </div>




    {{>pickuprequest}}



    {{>footer}}