<div class="card">
    <div class="card-body">
        <h5 class="card-title"> Dubai Office</h5>
        <ul class="list-group">
            <li class="list-group-item">Phone: 01000000</li>
            <li class="list-group-item">Address: </li>
            <li class="list-group-item" active>google link</li>
        </ul>
        <h5 class="card-title pt-3"> Chiba, Japan Office</h5>
        <ul class="list-group">
            <li class="list-group-item">Phone: 01000000</li>
            <li class="list-group-item">Address: </li>
            <li class="list-group-item" active>google link</li>
        </ul>

    </div>
</div>