<div class="container mt-5">
    <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
        data-wow-delay="0.6s">
        <h1 class="text-white mb-4">Get a Quick Quote</h1>
        <form action="/quickquote" method="post">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input type="text" name="name" class="form-control border-0" placeholder="Your Name"
                        style="height: 55px;" required>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="email" name="email" class="form-control border-0" placeholder="Your Email"
                        style="height: 55px;" required>
                </div>
                <div class="col-12 col-sm-6">
                    <select name="service" class="form-select border-0" style="height: 55px;">
                        <option selected>Select A Service</option>
                        <option value="recycle">Car Recycle</option>
                        <option value="exports">Exports</option>
                        <option value="part">Parts</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="date" id="date1" data-target-input="nearest">
                        <input type="text" required name="date" class="form-control border-0 datetimepicker-input"
                            placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker"
                            style="height: 55px;">
                    </div>
                </div>
                <div class="col-12">
                    <textarea name="detail" class="form-control border-0" placeholder="details"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-secondary w-100 py-3" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>