<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Exports Services //</h6>
            <h1 class="mb-5">Explore Our Exports Services</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <i class="fa fa-car-side fa-2x me-3"></i>
                        <h4 class="m-0">Car Carrier</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill"
                        data-bs-target="#tab-pane-2" type="button">
                        <i class="fa  fa-th-large fa-2x me-3"></i>
                        <h4 class="m-0">Container Shipping</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill"
                        data-bs-target="#tab-pane-3" type="button">
                        <i class="fa fa-paperclip fa-2x me-3"></i>
                        <h4 class="m-0">Customs Clearance</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill"
                        data-bs-target="#tab-pane-4" type="button">
                        <i class="fa fa-check-square fa-2x me-3"></i>
                        <h4 class="m-0">Export Inspections</h4>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-1.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">OXR is a specialist of
                                    used car export</h3>
                                <p class="mb-4"> and international freight forwarding services. We can meet a variety
                                    of customers' needs, such as necessary processes for export, as well as booking of
                                    freight</p>
                                <p><i class="fa fa-check text-success me-3"></i>Pre-export inspections</p>
                                <p><i class="fa fa-check text-success me-3"></i>Export customs clearance</p>
                                <p><i class="fa fa-check text-success me-3"></i>Lading, departure and issue of bill of
                                    lading</p>
                                <a href="/exports/car-carrier" class="btn btn-primary py-3 px-5 mt-3">Read More<i
                                        class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-2.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">We offer efficient and reliable container shipping services</h3>
                                <p class="mb-4"> by leveraging the worldwide container transport network and our weekly
                                    shipping system.
                                    In addition, a combination of our field task units and the OXR yards in Chiba
                                    Kashiwa and Kawasaki, of which total area exceeds150,000 square meters, will
                                    strongly support the business of our customers.</p>

                                <a href="/exports/container-shipping" class="btn btn-primary py-3 px-5 mt-3">Read More<i
                                        class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-3.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">customs clearance</h3>
                                <p class="mb-4">Experienced staff of OXR customs clearance team will support
                                    the used car export business of our customers.
                                    We are also ready to handle import business and items other than used cars. Please
                                    feel free to contact the customs clearance team at our Kawasaki Office for details
                                </p>

                                <a href="/exports/customs-clearance" class="btn btn-primary py-3 px-5 mt-3">Read More<i
                                        class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-4.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">Export Inspection</h3>
                                <p class="mb-4">The type and procedure of inspection necessary for export of used cars
                                    depend on the destination country. Please contact us for details</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->