<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex py-5 px-4">
                    <i class="fa fa-car fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">Car Dealership</h5>
                        <p>Our Advanced Pricing Technology means we can easily and instantly value your car based on
                            current trade values.</p>
                        <a class="text-secondary border-bottom" href="/usedcars">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <i class="fa fa-ship fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">Car Carrier</h5>
                        <p>OXR is a specialist of used car export and international freight forwarding
                            services</p>
                        <a class="text-secondary border-bottom" href="/exports/car-carrier">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="d-flex py-5 px-4">
                    <i class="fa fa-recycle fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">Car Recycling</h5>
                        <p>All cars reach the end of their life. Entrusting OXR for your scrap car recycling is
                            the ideal way to ensure your car is scrapped safely</p>
                        <a class="text-secondary border-bottom" href="/recycling">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->