<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                One-stop service from booking of car carriers to customs clearance, lading and B/L issue
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    OXR offers not only car loading and customs clearance services but also services that meet
                    customer demands, including booking of the ideal vessel, cleaning of cars, executing of pre-export
                    inspections, handling of application forms and providing related consultations.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Flow from lading to issue of B/L
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <p>When you are ready to start the export process, please transport your cars for export to one of the
                    OXR yards. Then, refer to our sailing schedule, and contact us to make a booking of cargo space for
                    your cars. Once your shipping schedule is determined, submit the following documents to us.
                </p>
                <ul class="list-group">
                    <li class="list-group-item">Shipping Instructions</li>
                    <li class="list-group-item">Invoice</li>
                    <li class="list-group-item">Copy of the certificate of temporally registration cancellation for
                        export or the export certificate (please confirm the expiration date) (Please submit the
                        original document as well.)</li>
                </ul>
                <img src="/img/img_mainVisual_11.jpg" class="img-fluid mt-3" alt="exports ship ">
                <p class="pt-3">
                    OXR will check the state, damages and accessories of your vehicles carried to the SPX yard,
                    and record them in our inventory list. At the same time, we will start the process of customs
                    clearance for export and other necessary arrangements.
                </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Pre-export inspections
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Some countries require exporters to complete the designated inspections prior to filing an export
                    declaration.
                    When mud or other foreign material is present on the car body or tires, or plants or seeds are found
                    inside a car at customs in the destination country, customs clearance may not be permitted. Or,
                    costs for cleaning or disinfecting may incur, leading to complaints or claims from the importer.
                    Therefore, your cars must be cleaned sufficiently before exporting.

                    Upon the request from customers, Sun Phoenix will perform car cleaning and/or inspection services at
                    the SPX yard.

                    Currently, we are not providing any inspection services for cargo for export to countries in Africa.
                    Please contact our sales representative for details and prices of our agency services.
                </p>
                <img src="/img/inspictions.jpg" class="img-fluid mt-3" style="width: max(300px);"
                    alt="pre inspection ship ">


            </div>
        </div>
    </div>

</div>





<div class="album py-5 bg-light">
    <div class="container">

        <div class="row  g-3">
            <div class="col-12">
                <div class="card shadow-sm">
                    <img src="/img/pexels-david-dibert-1117210.jpg" class="card-img-top" style="height : max(500px) ;"
                        alt="...">
                    <div class="card-body">
                        <h5>Export customs clearance</h5>
                        <p class="card-text">Customers need to prepare an invoice, which must include information such
                            as the type of car, vehicle identification number, model year, type of fuel (gasoline or
                            diesel) and engine displacement.
                            The customs inspection may take some time. So, please reserve cargo space considering the
                            time until customs clearance is complete. In particular, when the contract is on FOB basis
                            and the buyer has designated the ship, customers need to make sure that customs clearance is
                            finished by its departure date.

                            If any devices other than standard accessories and equipment are present inside a car or in
                            the trunk, it would be in violation of Customs Law. This may lead to the cancelation of
                            export permission of the used car. For example, when a car stereo is provided free of charge
                            separately (not installed), you need to write that information in the invoice, like "Car
                            stereo 1 piece ¥1,000 (No Value)."
                            On the day following the day of the ship's departure, we will issue to the customer a bill
                            that includes information such as the departure date of the vessel, destination, details of
                            the car(s), ocean freight and shipping charges</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/pexels-albin-berlin-906982.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Lading, departure and issue of bill of lading (B/L)</h5>
                        <p class="card-text">When you have received a bill from us, please make payment. Usually, we ask
                            our customers to make full payment no later than seven (7) business days after the day of
                            the ship's departure.

                            When your payment is confirmed, we will issue to you a bill of lading (B/L). (At the same
                            time, we will return to you the certificate of temporally registration cancellation for
                            export or the export certificate that we have received from you at the time of export
                            declaration, as well as the export permit.)

                            Note: B/L cannot be reissued. So please take special care to prevent loss or damage.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/pexels-tom-fisk-3840448.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Refund of recycling charges</h5>
                        <p class="card-text">In order to claim refund of recycling charges, submit the following
                            documents to JARC.</p>
                        <ul class="list-group">
                            <li class="list-group-item">Application form for refund of recycling deposit, etc.</li>
                            <li class="list-group-item">Copy of the certificate of temporally registration cancellation
                                for export or the export certificate</li>
                            <li class="list-group-item">Copy of the export permit (the vehicle identification number
                                must be included)</li>
                            <li class="list-group-item">Copy of B/L (the vehicle identification number must be included)
                            </li>
                        </ul>
                        <p>
                            Used car exporters can use the online processing feature by registering themselves with the
                            vehicle recycling system, and the charge for refund procedure will be lowered.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>