<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-primary text-uppercase">// Testimonial //</h6>
            <h1 class="mb-5">Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-1.jpg"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Fawzia Kakar</h5>
                <p>Car Dealer</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I had a great experience with OXR. They were super responsive to my needs and helped
                        me get my shipment of Cars to my destination on time. I would recommend them for all your
                        exporting and shipping needs</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-2.jpg"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Faiz Karim</h5>
                <p>Business Man</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I've been using OXR for a few months now and I'm really happy with the results. I
                        was able to export my products in bulk and ship them to Amazon without any issues. The app is
                        really easy to use, even if you're not tech savvy, and it has saved me so much time!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-3.jpg"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Shamtalo Ahmadi</h5>
                <p>entrepreneur</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I love OXR. It's the best software I have found for exporting and shipping. It's
                        easy to use, it integrates with all of my other software</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-4.jpg"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Shamila Ahmadi</h5>
                <p>business Man</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I am a small business owner and I was looking for a way to reduce my shipping costs.
                        I tried OXR and it has been the best decision I have made in the past few years. It's easy to
                        use, affordable, and has a great customer service team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->